{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<br/>
<div class="d-flex container justify-content-center">

  <div class="card mb-2 mr-2" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <br/>
    <div class="card-body">
      <h1 class="card-title">Filtering</h1>
      <h6 class="card-subtitle mb-2 text-muted">What does it mean by filtering?</h6>
      <br/>
      <p class="card-text">Some quick example text to build on the card title and 
        make up the bulk of the card's content.</p>
      <br/>
      <a href="#" class="btn btn-primary">Go</a>
    </div>
  </div>

  <div class="card mb-2 mr-2" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <br/>
    <div class="card-body">
      <h1 class="card-title">Searching</h1>
      <h6 class="card-subtitle mb-2 text-muted">What does it mean by searching?</h6>
      <br/>
      <p class="card-text">Some quick example text to build on the card title and 
        make up the bulk of the card's content.</p>
      <br/>
      <a href="#" class="btn btn-primary">Go</a>
    </div>
  </div>

  <div class="card mb-2 mr-2" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <br/>
    <div class="card-body">
      <h1 class="card-title">Library</h1>
      <h6 class="card-subtitle mb-2 text-muted">What does it mean by library?</h6>
      <br/>
      <p class="card-text">Some quick example text to build on the card title and 
        make up the bulk of the card's content.</p>
      <br/>
      <a href="#" class="btn btn-primary">Go</a>
    </div>
  </div>

</div>
<br/>
{% endblock %}